.songs-wrapper {
  padding: 20px 0;
  .songs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  .ant-pagination {
    margin-top: 40px;
    text-align: center;
  }
}
