// 定义变量
$borderColor: #e5ebe4;

.cate-header {
  width: 100%;
  background-color: #f6f6f1;
  .top-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 100px;
    border-bottom: 1px solid $borderColor;
    .title {
      width: 300px;
      display: inline-block;
      font-size: 28px;
    }
    input {
      height: 30px;
      border-radius: 2px 0 0 2px;
      background-color: #fff;
    }
    button {
      height: 30px;
      width: 40px;
      border-radius: 0 2px 2px 0;
    }
  }
  .cates {
    padding: 10px 100px;
  }
}